.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  background: linear-gradient(
    124deg, var(--blue_dark) 0%, 
    var(--blue_dark_alt) 23%, 
    var(--blue) 100%
  );
}


@media(max-width: 768px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    height: auto;
    background: linear-gradient(
      124deg, var(--blue_dark) 0%, 
      var(--blue_dark_alt) 23%, 
      var(--blue) 100%
    );
  }
}
