form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 55px 100px;
  border: 1px dashed var(--red);
  border-radius: 15px;
  background-color: var(--blue_dark_alt);
}

.title_form {
  margin: 5px 0;
  font-weight: bold;
  font-size: 30px;
  color: var(--white_alt);
}

.group_input{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 5px 0;
}

label {
  margin: 0 0 4px 4px;
  color: var(--white_alt);
  font-weight: 400;
  font-size: 17px;
  margin-top: 12px;
}

input {
  font-weight: 400;
  font-size: 20px;
  outline: none;
  padding: 2px 4px;
  background-color: var(--white_alt);
  color: var(--blue_dark);
}

.group_button {
  margin: 20px 0;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  padding: 5px 30px; 
  color: var(--white);
  background-color: var(--red);
  font-weight: 400;
  font-size: 17px;
  outline: none;
}

.errors {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.errors span {
  margin: 2px 0;
  font-weight: 400;
  font-size: 17px;
  color: var(--red);
}