span {
  font-weight: bold;
  font-size: 23px;
  color: var(--red);
  font-family: sans-serif;
  margin: 0 50px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 100%;
  margin-bottom: 50px;
  background: var(--blue);
  border-bottom: 1px dashed var(--red);
}

header button {
  margin-right: 15px;
}


.header_menu {
  display: flex;
  flex-direction: row;
  margin: 0 100px;
}